.myButton {
  background-color: #ff9ace;  
  color: #262626;
  width: 500px;
  height: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 36px;
  transition: background-color 0.2s;
}

.myButton:hover {
  background-color: #fe51aa; 
  color: white;
  border: 1px solid white;
  transition: background-color 0.5s;
  transition: color 0.2s;
}
